@charset 'utf-8';
@import url("https://fonts.googleapis.com/css2?family=Orbitron&display=swap");

/* 3단계 - CSS 초기화 */
* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

ul, ol {
	list-style: none;
}
a {
	text-decoration: none;
}

/* 3단계 - 프로필 박스 만들기 */
body {
  background-color: #abeef7;
} 